Repository chips11589/address-book: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-web, docker-build-web-api

docker-build-web:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build . -f Web/Dockerfile -t registry.gitlab.com/trivien/address-book/web-angular
  ...

docker-build-web-api:
  image: docker:latest
  stage: build
  needs:
  - run-tests
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

Pipeline - Run test before build
  .gitlab-ci.yml
Due: none

Test failed test
  Tests/Application.UnitTests/Tags/Commands/UpdateContactTagsTests.cs
Due: none

Pipeline - Test stage
  WebAPI/Startup.cs
Due: docker-build-web-api

Pipeline - Test stage - passed
  Tests/Application.UnitTests/Tags/Commands/UpdateContactTagsTests.cs
Due: none

Pipeline - Test stage - passed
  WebAPI/Startup.cs
Due: docker-build-web-api

UI - Add logo. Add contact search loading.
  Web/ClientApp/app/contact/contact-details/contact-details.component.html
  Web/ClientApp/app/contact/contact-list/contact-list.component.html
  Web/ClientApp/app/contact/contact-list/contact-list.component.ts
  Web/ClientApp/app/contact/services/contact.service.ts
  Web/ClientApp/app/shared/header/header.component.html
  Web/ClientApp/assets/images/address-book-logo.png
Due: docker-build-web

GraphQL - Add explanation for ContactResolver methods
  WebAPI/Queries/ContactResolver.cs
Due: docker-build-web-api

Refactor code - move GraphQL to Application. Handle generic notification on frontend. Add demo background service.
  Application/Application.csproj
  Application/GraphQL/Queries/ContactQuery.cs
  Application/GraphQL/Queries/ContactResolver.cs
  Application/GraphQL/Queries/ContactType.cs
  Application/GraphQL/Queries/TagQuery.cs
  Application/Notifications/INotificationClient.cs
  Application/Notifications/Services/DemoService.cs
  Application/Notifications/Services/INotificationClient.cs
  Application/Notifications/Services/INotificationService.cs
  Web/ClientApp/app/contact/contact-list/contact-list.component.ts
  Web/ClientApp/app/shared/notification-bar/notification-bar.component.ts
  Web/ClientApp/app/shared/services/notification.service.ts
  WebAPI/EventHandlers/TagChangedNotificationHandler.cs
  WebAPI/Hubs/NotificationHub.cs
  WebAPI/Startup.cs
  WebAPI/WebAPI.csproj
  WebAPI/appsettings.Development.json
Due: docker-build-web, docker-build-web-api

Use background service to send periodic notifications
  Application/Notifications/Services/DemoService.cs
  Web/ClientApp/app/shared/notification-bar/notification-bar.component.ts
  WebAPI/Hubs/NotificationHub.cs
  WebAPI/Services/NotificationService.cs
  WebAPI/Startup.cs
Due: docker-build-web, docker-build-web-api

Refactor - Abstract SignalR dependency. Move TagChangedNotificationHandler to Application.
  Application/Notifications/Services/TagChangedNotificationHandler.cs
  WebAPI/Services/NotificationHub.cs
  WebAPI/Services/NotificationService.cs
  WebAPI/Startup.cs
Due: docker-build-web-api

Add try-catch in DemoService to ensure it won't crash the whole application on exception.
  Application/Notifications/Services/DemoService.cs
Due: docker-build-web-api

Remove duplicate notification event handler registration. Pass cancellationToken to request handlers.
  Application/Notifications/Services/DemoService.cs
  Application/Tags/Commands/CreateTagCommand.cs
  Application/Tags/Commands/DeleteTagCommand.cs
  Application/Tags/Commands/UpdateTagCommand.cs
  WebAPI/Startup.cs
Due: docker-build-web-api

Add more demo messages to rotate.
  Application/Notifications/Services/DemoService.cs
Due: docker-build-web-api

Add integration tests. Refactor code - adding repository classes.
  AddressBook.sln
  Application.IntegrationTests/Application.IntegrationTests.csproj
  Application.IntegrationTests/ContactControllerTests.cs
  Application.IntegrationTests/TestBase.cs
  Application.IntegrationTests/Usings.cs
  Application.IntegrationTests/appsettings.json
  Application/Common/Interfaces/IContactRepository.cs
  Application/Contacts/Queries/GetContactsQuery.cs
  Infrastructure/DependencyInjection.cs
  Infrastructure/Persistence/Repositories/ContactRepository.cs
  WebAPI/Program.cs
  WebAPI/Startup.cs
Due: docker-build-web-api

Path conditions:
  docker-build-web: any of: Web/**/*
  docker-build-web-api: any of: WebAPI/**/*, Application/**/*, Domain/**/*, Infrastructure/**/*
